@model IEnumerable<Ingredients>

@{
    var ModelName = "Ingredients";
    ViewData["Title"] = ModelName;
    Layout = "_Layout1";
}

<h2>@ModelName</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
